.dataTables_wrapper .row:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataTables_length label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dataTables_length select {
    width: 70px !important;
}

/* Wrapper bar atas DataTables */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    width: 50%;
}

/* Pakai flex biar sejajar kiri kanan */
.dataTables_wrapper .dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

/* Biar tidak turun */
.dataTables_wrapper .row:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Bikin Search sejajar */
.dataTables_wrapper .dataTables_filter label {
    display: flex;
    align-items: center;
    gap: 8px; /* jarak antara tulisan dan input */
}

/* Hilangkan margin aneh */
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
}